
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* Chat specific */
.list.chatroom{
	background-color: transparent;
}
.chatroom>li.comp{
	background-color: transparent;
	border: 0;
}
li.comp>.msg{
	width: 100%;
}
li.comp>.msg>.bubble{
	float: left;
	word-break: break-all;
	
	background-color: #ffffff;
	border-color: rgba(0, 0, 0, 0) #5A8F00;
    border-width: 15px 0 15px 30px;
    margin-left: 30px;
    
	position: relative;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
li.comp.mine>.msg>.bubble{
	float: right;
	text-align: right;
    margin-right: 30px;
}
li.comp>.msg>.bubble>.author{
	font-weight: bold;
}
li.comp.mine>.msg>.bubble>.author{ display: none; }
li.comp>aside>img{
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
li.comp>.msg>.bubble:after 
{
	content: "";
	position: absolute;
	top: 6px;
	right: -30px;
	border-style: solid;
	border-width: 12px 0 12px 30px;
	border-color: transparent #ffffff;
	display: none;
	width: 0;
	z-index: 1;
}
li.comp.mine>.msg>.bubble:after{
	display: block;
}
li.comp>.msg>.bubble:before 
{
	content: "";
	position: absolute;
	top: 6px;
	left: -30px;
	border-style: solid;
	border-width: 12px 30px 12px 0;
	border-color: transparent #ffffff;
	display: block;
	width: 0;
	z-index: 1;
}
li.comp.mine>.msg>.bubble:before{ display: none; }
.form.grid{
	width: 100%;
}
.toolbar.chat{
	height: auto;
	max-height: 6em;
}
